.invoice-form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.invoice-form-container[ngIf] {
  transform: translateX(0);
}

.invoice-form {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.invoice-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}