.form-wrapper {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
}

.header {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 40px;
}
.preview-image{
  width:100%;
  height:100%;
  object-fit:contain;
  border-radius:10px;
}
/* ROW */
.form-row {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 18px;
}

/* LABEL */
.label-col {
  width: 240px;
  font-size: 15px;
  color: #6b7280;
}

/* INPUT AREA */
.input-col {
  flex: 1;
  max-width: 600px;
}

/* REQUIRED */
.req {
  color: red;
}

/* INPUT */
.form-control,
.form-select {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 8px;
}

/* PHONE GROUP */
.phone-group {
  display: flex;
  gap: 10px;
}

.country-code {
  width: 20%;
  min-width: 80px;
}

.phone-group input {
  width: 80%;
}

/* GST */
.gst-group {
  display: flex;
  gap: 10px;
}

.gst-group input {
  flex: 1;
}

.fetch-btn {
  height: 44px;
  padding: 0 16px;
  border: 1px solid #d1d5db;
  background: #f9fafb;
  border-radius: 6px;
}

/* DROPDOWN FIX */
.custom-select {
  appearance: none;
  background: #fff url("data:image/svg+xml;utf8,<svg fill='%236b7280' height='20' viewBox='0 0 20 20' width='20'><path d='M5 7l5 5 5-5H5z'/></svg>") no-repeat right 10px center;
  background-size: 16px;
  padding-right: 30px;
}

/* LOGO */
.logo-row {
  align-items: flex-start;
}

.upload-box {
  width: 110px;
  height: 110px;
  border: 1px dashed #d1d5db;
  border-radius: 10px;
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
}

.upload-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MOBILE */
@media (max-width: 768px) {

  .form-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .label-col {
    width: 100%;
  }

  .input-col {
    width: 100%;
    max-width: 100%;
  }

  .phone-group{
    flex-direction: column;
  }
  .gst-group {
    flex-direction: column;
  }

  .country-code {
    width: 100%;
  }

  .fetch-btn {
    width: 100%;
  }
}
/* Action Row (Right Align) */
.action-row {
  margin-top: 30px;
}

/* Button */
.save-btn {
  height: 44px;
  padding: 0 25px;
  background: #165a50;   /* Blue */
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  float: right; /* right align */
}

/* Hover */
.save-btn:hover {
  background: #165a50;
}

/* Mobile */
@media (max-width: 768px) {
  .save-btn {
    width: 100%;
    float: none;
  }
}