<div class="gap-2 flex flex-auto flex-col self-stretch justify-between min-h-full">
  <div class="min-h-[calc(100vh-70px)] flex flex-auto flex-col self-stretch justify-center p-2">
    <div class="w-full max-w-5xl flex justify-center mx-auto">
      <mat-card class="relative w-full overflow-hidden mb-0!">
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div class="relative p-7.5 flex flex-auto flex-col self-stretch justify-center gap-7.5">
            <app-branding></app-branding>
            <div class="flex flex-col gap-2">
              <h4 class="font-bold text-2xl">Forgot your password?</h4>
              <span class="block text-sm">Please enter the email address associated with your account and We will
                email
                you a link to reset your password.</span>
            </div>
            <form [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="text-sm font-semibold mb-3 block">Email Adddress</mat-label>
              <mat-form-field appearance="outline" class="w-full" color="primary">
                <input matInput type="email" formControlName="email" />
                @if(f['email'].touched && f['email'].invalid) {
                <mat-hint class="mb-4 absolute -top-[19px] right-[3px]">
                  @if(f['email'].errors && f['email'].errors['required']) {
                  <div class="text-error">Email is required.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <button mat-flat-button color="primary" class="w-full" [disabled]="!form.valid">
                Forgot Password
              </button>
              <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-full mt-2">
                Back to Login
              </a>
            </form>
          </div>

          <div class="hidden lg:flex items-center justify-center relative overflow-hidden">
            <img src="/assets/images/backgrounds/login-bg.webp" alt="login-side-img"
              class="object-cover w-full h-full" />
          </div>

        </div>
      </mat-card>
    </div>
  </div>
  <app-footer class="w-full"></app-footer>
</div>