<footer class="footer container flex lg:flex-row flex-col gap-3 flex-wrap items-center justify-between py-3 pt-6">
  <p class="my-0 text-muted text-sm">© 2026 by <a class="text-muted font-medium" href="https://www.wrappixel.com/"
      target="_blank">WrapPixel</a> , creating a better web for you.</p>
  <div class="flex items-center gap-5">
    <a matButton class="text-muted text-sm" href="javascript:void(0)">About Us</a>
    <a matButton class="text-muted text-sm" href="javascript:void(0)">Blog</a>
    <a matButton class="text-muted text-sm" href="javascript:void(0)">License</a>
  </div>
</footer>