<div class="gap-2 flex flex-auto flex-col self-stretch justify-between min-h-full">
  <div class="min-h-[calc(100vh-70px)] flex flex-auto flex-col self-stretch justify-center p-2">
    <div class="w-full max-w-5xl flex justify-center mx-auto">
      <mat-card class="relative w-full overflow-hidden mb-0!">
        <div class="grid grid-cols-1 lg:grid-cols-2">
          <div class="relative p-7.5 flex flex-auto flex-col self-stretch justify-center gap-7.5">
            <app-branding></app-branding>
            <div class="flex flex-col gap-2">
              <h4 class="font-bold text-xl">Two Step Verification</h4>
              <span class="block text-sm">We sent a verification code to your mobile. Enter the code from the
                mobile in the field below.</span>
              <span class="font-semibold block">******1234</span>
            </div>

            <form>
              <mat-label class="text-sm font-semibold mb-3 block">Type your 6 digits security code</mat-label>
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-2">
                  <mat-form-field appearance="outline" class="w-full" color="primary">
                    <input matInput />
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field appearance="outline" class="w-full" color="primary">
                    <input matInput />
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field appearance="outline" class="w-full" color="primary">
                    <input matInput />
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field appearance="outline" class="w-full" color="primary">
                    <input matInput />
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field appearance="outline" class="w-full" color="primary">
                    <input matInput />
                  </mat-form-field>
                </div>
                <div class="col-span-2">
                  <mat-form-field appearance="outline" class="w-full" color="primary">
                    <input matInput />
                  </mat-form-field>
                </div>
              </div>

              <a [routerLink]="['/dashboards/dashboard1']" mat-flat-button color="primary" class="w-full">
                Verify My Account
              </a>
              <span class="font-medium block text-sm mt-6">Didn't get the code?
                <a [routerLink]="['/dashboards/dashboard1']" class="no-underline text-primary font-medium">Resend</a>
              </span>
            </form>
          </div>

          <div class="hidden lg:flex items-center justify-center relative overflow-hidden">
            <img src="/assets/images/backgrounds/login-bg.webp" alt="login-side-img"
              class="object-cover w-full h-full" />
          </div>

        </div>
      </mat-card>
    </div>
  </div>
  <app-footer class="w-full"></app-footer>
</div>