
<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 xl:col-span-4">
    <app-key-insights></app-key-insights>
  </div>
   <div class="col-span-12 xl:col-span-4">
    <app-key-insights></app-key-insights>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-key-insights></app-key-insights>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-website-visits></app-website-visits>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-current-visits></app-current-visits>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-visitor></app-visitor>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-conversion-rate></app-conversion-rate>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-ad-campaign-clicks></app-ad-campaign-clicks>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-campaign-performance></app-campaign-performance>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-traffic-data></app-traffic-data>
  </div>
</div>